.body {
  width: 320px;
  min-height: 100%;
  background: #ececec url("../hero-mobile@1x.jpg") no-repeat;
  margin: 0;
}

.block-header {
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
