.site-list {
  min-width: 320px;
  height: 1076px;
}

.site-list__item {
  width: 149px;
  height: 17px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  padding: 32px 95px 30px 76px;

}
